<div class="row margin-t-20">
    <div class="col s10 offset-s1">

        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Author</th>
                    <th>Book Name</th>
                    <th>Nº Pagination</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let book of lists | async">
                    <td>{{book?.id}}</td>
                    <td>{{book?.author}}</td>
                    <td>{{book?.name}}</td>
                    <td>{{book?.pagination}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>